div,body,canvas{
    margin: 0;
    padding: 0;
}


#z-canvas {
    position: absolute;
    top: 100px;
    left: 100px;
    width:640px;
    height: 480px;
    background-color: rgb(249, 255, 242);
}
